<html>
  <head>
  	<title>Cancel</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div id="content">
      <h1>You have canceled the transaction</h1>
    </div>
 </body>
</html>