<html>
  <head>
  	<title>Trade</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  	<div>
  		<form action="<%= redirectUrl %>">
  			<input type="submit" value="pay">
  		</form>
  		<p> <%= paymentDetail %></p>
	</div>
 </body>
</html>