<html>
  <head>
  	<title>Store test</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  	<div>
  		<a href="<%= redirectUrl %>">
  			<button type="submit" class="btn btn-default" >Redirect to Paypal</button>
  		</a>
      <br>
      <br>
      <h3>Payment Information</h3>
  		<pre> <%= paymentDetail %></pre>
	</div>
 </body>
</html>