<html>
  <head>
  	<title>Trade</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  	<div>
  		<a href="<%= redirectUrl %>">
  			<button type="submit">Redirect</button>
  		</a>
  		<pre> <%= paymentDetail %></pre>
	</div>
 </body>
</html>