<html>
  <head>
  	<title>Trade</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  	<div>
  		<h1>Payment got executed successfully!</h1>
  		<pre><%= paymentDetail %> </pre>
	</div>
 </body>
</html>