<html>
  <head>
  	<title>Store test</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div id="content" class="container">

      <img src="/images/iphone6.jpg"></img>
      <p>Price: 2.00 USD</p>
        <br>

      <form method="get" action="/create">
        <input type="hidden" name="method" value="paypal">
        <input type="hidden" name="amount" id="amount" value="2.00">
        <input type="hidden" name="currency" id="currency" value="USD">
        <button type="submit" id="checkout" class="btn btn-default">Buy it now</button>
      </form>
    </div>

 </body>
</html>