<html>
  <head>
  	<title>Check out</title>
    <link rel="stylesheet" type="text/css" href='/styles/libs/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
  </head>
  <body>
    <div id="content">
      <form method="post" action="create">
        <input name="amount" value="19.95">
        <input type="submit" value="checkout">
      </form>
    </div>
 </body>
</html>